In [1]:
from DeepSky import deepsky

In [3]:
SkyTrainer = deepsky.Trainer()

In [4]:
SkyTrainer.slugs_list

['Sentinel-2-Top-of-Atmosphere-Reflectance',
 'Landsat-7-Surface-Reflectance',
 'Landsat-8-Surface-Reflectance',
 'USDA-NASS-Cropland-Data-Layers',
 'USGS-National-Land-Cover-Database',
 'Lake-Water-Quality-100m']

In [5]:
SkyTrainer.table_names

['image', 'dataset', 'model', 'model_versions', 'jobs']

In [ ]:
dic = {
        'Sentinel-2-Top-of-Atmosphere-Reflectance': ['2015-06-23', ''],
        'Landsat-7-Surface-Reflectance': ['1999-01-01', ''],
        'Landsat-8-Surface-Reflectance': ['2013-04-01', ''],
        'USDA-NASS-Cropland-Data-Layers': ['1997-01-01', ''],
        'USGS-National-Land-Cover-Database': ['1992-01-01', '2017-01-01'],
        'Lake-Water-Quality-100m': ['2019-01-01', '2019-12-31']
    }

In [7]:
SkyTrainer.images

,dataset_id,bands_selections,scale,init_date,end_date,bands_min_max,norm_type,geostore_id
id,,,,,,,,
0,0,"[B2, B3, B4, B5, ndvi, ndwi]",100.0,2019-01-21,2019-01-31,"{'B1_max': 1330.4639324243033, 'B1_min': 983.0...",geostore,cc1d5d3dee2c8a6e9a4d10f74f7747a9
1,5,[turbidity_blended_mean],100.0,2019-01-21,2019-01-31,{},geostore,cc1d5d3dee2c8a6e9a4d10f74f7747a9
2,0,"[B1, B2, B3, B4, B5, B6, B7, B8A, B8, ...",30.0,2016-01-01,2016-12-31,"{'B1_max': 3807.6194751381217, 'B1_min': 1.0, ...",global,None
3,3,"[cropland, land, water, urban]",30.0,2016-01-01,2016-12-31,{},global,None
4,1,None,30.0,2016-01-01,2016-12-31,"{""B1_max"": 4927.875, ""B1_min"": -1336.0, ""B2_ma...",global,None
5,2,None,30.0,2016-01-01,2016-12-31,"{""B10_max"": 2995.0, ""B10_min"": 2509.0, ""B11_ma...",global,None

In [11]:
SkyTrainer.db.Query("select * from jobs")

[{'id': 1, 'status': 'start', 'params': {'testkey': 'vallss'}}]

In [ ]:
SkyTrainer.db.insert('image', [{'dataset_id':1,'bands_selections':['B2', 'B3', 'B4', 'B5', 'ndvi', 'ndwi']},{'dataset_id':2,'bands_selections':['B2', 'B3', 'B4', 'B5', 'ndvi', 'ndwi']}])

In [ ]:
SkyTrainer.db.delete('jobs', 1)

In [ ]:
SkyTrainer.db.update('model', {'model_name':'test2'}, 4)

In [ ]:
def df_to_db(df, db, table_name, id, operation):
    """Save DataFrames into database."""
    data = df.iloc[id].to_dict()
    if operation == 'insert':
        return db.insert(table_name, [data])
    elif operation == 'update':
        return db.update(table_name, data, id)
    else:
        raise f'operation {operation} not in [insert, update]'
    

df_to_db(SkyTrainer.versions, 'db', 'model_versions', 2)